/***********

COMMON

************/

body{
    font-family: "monospace",sans-serif;
}

.font-primary{
    color: #008bae;
}
.title.icon {
    font-size: 20px;
    font-weight:bold;
}

p {
    font-size:14px;
}

h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black {
    color: #000 !important;
}

/**************

ABOUT

***************/


#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 170px;
    margin-bottom: 10px;
    height: 200px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}

#about .skills {
    font-size: 14px;
    color: #00ABAE;
    margin-bottom: 10px;

}

#about .email {
    margin-top: 14px;
    font-size: 26px;
}

#about .icon {
    margin-top: 20px;
    font-size: 30px;
}

#about .icon a {
color: black;
}

/********************

PROJECT

*********************/

#project {
    margin:60px auto;
    width: 80%
}

#project h2 {
    text-align: center;
}

#project .card img { 
    width: 100%;
}

#project .card-title {
    font-weight: bold;
}